*
{
    box-sizing: border-box;
}

body
{
    background-color: #006400;
    text-align: center;
    font-family:"Platypi", serif;
    color: rgb(255, 255, 255);
}

.foto
{
    width: 1903px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav
{
    position: relative;
    width: 524px;
    height: 50px;
    background-color: #8b4513;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items:center ;
    color: rgb(255, 255, 255);
}
nav a
{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}
nav span
{
    position: absolute;
    top: 0;
    left:0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #ffffff, #006400);
    border-radius: 8px;
    transition: .5s;
}
nav a:nth-child(1):hover~span
{
  left: 90px;
}
nav a:nth-child(2):hover~span
{
    left: 190px;
    
}
nav a:nth-child(3):hover~span
{
  left: 285px;

}
nav a:nth-child(4):hover~span
{
  left: 380px;

}
.card-01
{
    color: black;
  margin: 50px;
  background-color: white;
  height: 900px;
  width: 600px;  
 border-radius: 10px;
 box-shadow: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), alpha) 0px 10px 20px rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), alpha) 0px 10px 20px; 
 margin-right: 1000px ;
}